
/* Propriétés générales */

* {box-sizing: border-box;}

img {max-width: 100%;}
p{
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
	padding: 0.5rem;
	background-color: blue;
	color: whitesmoke;
	text-decoration: none;
	border-radius: 10px;
	border:2px solid blue;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container{
	padding: 2rem;
	border: black solid 2px;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	background-color: rgb(219, 241, 255);
}
header img{
	height: 18rem;
	width: 200px;
	margin-top: 2rem;
}
.flex {
	display: flex;
	justify-content:space-between ;
}
nav{
	margin-top: 2rem;
	width: 45rem;
	height: 8rem;
}
nav ul{
	display:flex;
	list-style-type: none;
	justify-content: space-around;
}

nav ul li{
	font-size: larger;
}
span li a{
	background-color: blue;
	color: white;

}
li a{
	text-decoration: none;
	font-size: larger;
	padding: 0.5rem;
	border:2px solid blue;
	color: black;
	border-radius: 10px;
}
li a:hover{
	background-color: rgb(255, 255, 255);
	border-color: black;
}
span li a:hover{
	background-color: darkblue;
}
figure img{
	width: 15rem;
	height: 15rem;
	border-radius: 10px;
}
figcaption{
	display:block;
	width: 15rem;
	height: 5rem;
	text-align: center;
}
figure{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.BurgersPremiereLigne{
	display:flex;
	justify-content:center;
	
}
.BurgersDeuxiemeLigne{
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	padding-bottom: 3rem;
}
.beignesLigne{
	display: flex;
	justify-content: center;
	padding-bottom: 6rem;
}
.tshirtBox{
	background-color: grey;
}
.tshirtBox .container{
	border: none;
	background-color: grey;
}
.containerTshirt{
	content: "";
	clear: both;
	display: table;
}
.containerTshirt img{
	float: right;
}
.containerTshirt p{
	max-width: 30rem;
}

.textTshirt{
	display: flex;
	justify-content: space-between;
}

footer span{
	text-align: center;
	font-size: large;
}

.containerFooter{
	padding: 2.5rem;
	color: white;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}
.footerinfo{
	background-color: rgb(52, 52, 52);
}
footer .btn{
	background-color: white;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: black;
	text-decoration: none;

}
.btn:hover{
	background-color: darkblue;
	border-color: black;
}
footer .btn:hover{
	background-color: lightgray;
} 
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "photo1 photo1 photo2"
	  "photo1 photo1 photo3"
	  "photo4 photo6 photo6"
	  "photo5 photo6 photo6";
  }
  .grid img{
	  border-radius: 20px;
  }
  
  .photo1 { grid-area: photo1;}
  
  .photo2 { grid-area: photo2;}
  
  .photo3 { grid-area: photo3;}
  
  .photo4 { grid-area: photo4;}
  
  .photo5 { grid-area: photo5;}
  
  .photo6 { grid-area: photo6;}
  